[submodule "src/segment"]
	path = src/segment
	url = git@github.com:pudjamansyurin/nds-7segment.git
[submodule "src/7segment"]
	path = src/nds-7segment
	url = git@github.com:pudjamansyurin/nds-7segment.git
[submodule "src/amsi"]
	path = src/nds-amsi
	url = git@github.com:pudjamansyurin/nds-amsi.git
[submodule "src/stdout"]
	path = src/nds-stdout
	url = git@github.com:pudjamansyurin/nds-stdout.git
